# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# Environment variables or credentials
.env
secrets.json
